<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "kr.co.dong.boardMapper">


		
	<!-- 전체 회원 조회 -->
	<select id="getmembercnt" resultType="java.lang.Integer">
		select count(*)
		from tb_membership
	</select>
	
	<!-- 회원관리 -->
	<select id="manage" parameterType="java.lang.Integer" resultType="jointempDTO">
		select *
		from tb_Membership
		where m_ste = 1
		limit #{startList}, #{listSize};
	</select>
	
	
	
	<!-- 전체 건수 조회 -->
	<select id="getlistcnt" resultType="java.lang.Integer">
		select count(*)
		from TB_MSG_BOARD
		where BD_STE = 0
		order by BD_NUM desc
	</select>
	
	<!-- 공지 게시판 -->
	<select id="list" parameterType="java.lang.Integer" resultType="BoardDTO">
		select *
		from TB_MSG_BOARD
		where BD_STE = 0
		and BD_GROUP = 1
		order by BD_NUM desc
		limit #{startList}, #{listSize};
	</select>
	
	<!-- 인기 게시판-->
	<select id="list_main" parameterType="java.lang.Integer" resultType="BoardDTO">
		select *
		from TB_MSG_BOARD
		where BD_STE = 0
		and BD_GROUP = 2 
		order by BD_NUM desc
		limit #{startList}, #{listSize};
	</select>
	
	
	
	
	
	
	
	
	
	<!--  글 읽기 -->
	<select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
		select * 
		from TB_MSG_BOARD
		where BD_NUM = #{BD_NUM}
	</select>

	
	<!--  조회수 증가 -->
	<update id="updateReadCnt" parameterType="java.lang.Integer">
		update TB_MSG_BOARD
		   set BD_REF = BD_REF + 1
		 where BD_NUM = #{BD_NUM}
	</update>
	
	<!--  글 쓰기 -->
	<insert id="register" parameterType="BoardDTO">
		INSERT INTO TB_MSG_BOARD(BD_NUM, BD_TL, BD_CON, M_ID, BD_DT, BD_REF, BD_RECOMM, BD_STE)
  		VALUES(#{BD_NUM},#{BD_TL},#{BD_CON},#{M_ID}, curdate(),0,#{BD_RECOMM},0)
	</insert>
	
	<!--  글 수정 -->
	<update id="update" parameterType="BoardDTO">
		update TB_MSG_BOARD
		   set BD_TL = #{BD_TL},
		   	   BD_CON = #{BD_CON},
		   	   BD_DT = curdate(),
		 where BD_NUM = #{BD_NUM}
	</update>
	
	<!--  글 삭제 del 컬럼을 작성하여 1로 변경 -->
	<update id="delete" parameterType="java.lang.Integer">
		UPDATE TB_MSG_BOARD SET BD_STE = 1
		WHERE BD_NUM = #{BD_NUM};
	</update>                      
	
	
	<!--  로그인 처리를 위한 SQL -->
	<select id="login" parameterType="jointempDTO" resultType="jointempDTO">
		SELECT *
		  FROM m_membership
		 WHERE M_id = #{M_id}
		   AND M_pw = #{M_pw};
	</select>
	
	
	<!-- 댓글목록 조회(게시글번호에 해당하는 조회) -->
	<select id="detail1" parameterType="java.lang.Integer" resultType="BoardReply">
		SELECT reno, rewriter, rememo, redate, BD_NUM
		  FROM board_reply
		 WHERE BD_NUM = #{BD_NUM}
	  ORDER BY reno desc
	</select>
	
	<!-- 댓글 쓰기 -->
	<insert id="reply" parameterType="BoardReply">
		INSERT INTO board_reply(rewriter, rememo, redate, bno)
			 VALUES (#{rewriter}, #{rememo}, curdate(), #{bno})
	</insert>
	
	<!-- 해당 댓글 읽기  -->
	<select id="detailReply" parameterType="java.lang.Integer" resultType="BoardReply">
		SELECT reno, rewriter, rememo, redate, bno
		  FROM board_reply
		 WHERE reno = #{reno}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate" parameterType="BoardReply">
		update board_reply
		   set rewriter = #{rewriter},
		   		rememo = #{rememo},
		   		redate = curdate()
		 where reno = #{reno} 
	</update>

	<!-- 댓글 삭제 -->
	<delete id="replyDelete" parameterType="BoardReply">
		DELETE FROM board_reply 
		 WHERE reno = #{reno} 
	</delete>

	<!-- 코드 -->
	<select id="codeList" parameterType="CodeDTO" resultType="CodeDTO">
		SELECT *
		  FROM code
		 WHERE CodeNm = #{CodeNm}
	</select>

	<!-- 회원가입 -->
	<insert id="jointemp" parameterType="jointempDTO">
		INSERT INTO tb_membership(m_id, m_pw, m_name, m_ename, m_tel, m_birth, m_email, m_gender, m_info_yn, m_adv_yn, m_ste)
			 VALUES (#{m_id}, #{m_pw}, #{m_name}, #{m_ename}, #{m_tel}, #{m_birth}, #{m_email}, #{m_gender}, #{m_info_yn}, #{m_adv_yn} ,1)
	</insert>
	
</mapper>