<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "kr.co.dong.boardMapper">

   
   
   <!--  로그인 처리를 위한 SQL -->
   <select id="login" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT m_id, m_ename, m_name, m_pt, m_ste
        FROM tb_membership
       WHERE m_id = #{m_id}
         AND m_pw = #{m_pw};
   </select> 
   
   <!-- 세션 초기화 -->
   <select id="sessionId" parameterType="jointempDTO" resultType="jointempDTO" >
   	  SELECT m_id, m_ename, m_name, m_pt, m_ste
        FROM tb_membership
       WHERE m_id = #{m_id}
         AND m_pw = #{m_pw};
   </select>

	<!-- 회원가입 -->
   <insert id="jointemp" parameterType="jointempDTO">
      INSERT INTO tb_membership(m_id, m_pw, m_name, m_ename, m_tel, m_birth, m_email, m_gender, m_info_yn, m_adv_yn, m_ste)
          VALUES (#{m_id}, #{m_pw}, #{m_name}, #{m_ename}, #{m_tel}, #{m_birth}, #{m_email}, #{m_gender}, #{m_info_yn}, #{m_adv_yn} ,1)
   </insert>    
   
   <!-- 아이디 중복체크 -->
   <select id="checkId" parameterType="String" resultType="Integer">
   	 select count(*)
   	   from tb_membership
   	   where m_id = #{m_id};
   </select>
   
   <!-- 닉네임 중복체크 -->
   <select id="checkEname" parameterType="String" resultType="Integer">
   	 select count(*)
   	   from tb_membership
   	   where m_ename = #{m_ename};
   </select>
   
   
   
   <!-- 아이디 찾기 -->
   <select id="findId" parameterType="jointempDTO" resultType="String">
   	select m_id
   	  from tb_membership
   	 where m_name = #{m_name}
   	   and m_tel = #{m_tel};
   </select>
   
   <!-- 비밀번호 찾기 -->
   <select id="findPw" parameterType="jointempDTO" resultType="String">
   	select m_id
   	  from tb_membership
   	 where m_id = #{m_id}
   	   and m_name = #{m_name}
   	   and m_tel = #{m_tel};
   </select>
   
   <!-- 새 비밀번호 입력 -->
   <update id="changPw" parameterType="jointempDTO">
   	update tb_membership
   	   set m_pw = #{m_pw}
   	 where m_id = #{m_id};
   </update>
   
   
   
	
   <!-- 전체 회원 조회 -->
   <select id="getmembercnt" resultType="java.lang.Integer">
      select count(*)
      from tb_membership
   </select>
   
   <!-- 회원관리 -->
   <select id="manage" resultType="jointempDTO">
      select *
      from tb_Membership
      order by m_ste
      limit #{startList}, #{listSize};
   </select>
   
       <!-- 회원정보 상세조회 -->
   <select id ="manageOne" parameterType="java.lang.String" resultType="jointempDTO">
      select * 
      from tb_membership
      where m_id = #{m_id};
   </select>
   
    <!-- 회원정보 수정 --> 
   <update id="userupdate" parameterType="jointempDTO" >
      update tb_membership
         set   m_id = #{m_id},
         	   m_point = #{m_pt},
               m_pw = #{m_pw},
               m_name = #{m_name},
               m_ename = #{m_ename},
               m_email = #{m_email},
               m_tel = #{m_tel}
       where m_id = #{m_id}     
   </update>
     
    <!--  회원정보 삭제 M_STE 컬럼을 작성하여 1로 변경 -->
   <update id="userdelete" parameterType="java.lang.String">
      update tb_membership set m_ste = 1
      where m_id = #{m_id}
   </update> 
   
  
  <!-- ======================================================== 게 시 판 ======================================================== -->
   <!-- 공지 게시물 건수 조회 -->
   <select id="getlistcnt" resultType="java.lang.Integer">
      select count(*)
      from TB_MSG_BOARD
      where BD_STE = 0
      and BD_GROUP = 1
      order by bd_num desc
   </select>
   
   <!-- 공지 게시판 -->
   <select id="list" parameterType="java.lang.Integer" resultType="BoardDTO">
      select *
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_group = 1
      order by bd_num desc
      limit #{startList}, #{listSize};
   </select>
   
   
   <!-- 인기 게시물 건수 조회 -->
   <select id="getpopcnt" resultType="java.lang.Integer">
      select count(*)
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_recomm > 19
      and bd_group > 1
      order by bd_num desc
   </select>
   
   <!-- 인기 게시판 -->
   <select id="list_pop" parameterType="java.lang.Integer" resultType="BoardDTO">
      select *
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_recomm > 19
      and bd_group > 1
      order by bd_num desc
      limit #{startList}, #{listSize};
   </select>
   
   
   <!-- 메인 게시물 건수 조회 -->
   <select id="getmaincnt" resultType="java.lang.Integer">
      select count(*)
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_group = 2
      order by bd_num desc
   </select>
   
   <!-- 메인 게시판-->
   <select id="list_main" parameterType="java.lang.Integer" resultType="BoardDTO">
      select *
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_group = 2 
      order by bd_num desc
      limit #{startList}, #{listSize};
   </select>
   
   
   <!-- 자유 게시물 건수 조회 -->
   <select id="getfreecnt" resultType="java.lang.Integer">
      select count(*)
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_group = 3
      order by bd_num desc
   </select>
   
   <!-- 자유 게시판-->
   <select id="list_free" parameterType="java.lang.Integer" resultType="BoardDTO">
      select *
      from TB_MSG_BOARD
      where bd_ste = 0
      and bd_group = 3
      order by bd_num desc
      limit #{startList}, #{listSize};
   </select>
   
   
   <!-- 나의 문의 건수 조회 -->
   <select id="getRequestCnt" resultType="java.lang.Integer">
      select count(*)
      from TB_MSG_BOARD
      where BD_STE = 0
      and BD_GROUP = 4
      order by bd_num desc
   </select>
   
   <!-- 나의 문의 -->
   <select id="question" parameterType="java.lang.Integer" resultType="BoardDTO">
      select BD_NUM,M_ID,BD_TL,BD_CON,BD_DT,BD_GROUP,BD_STE,M_ENAME
      from TB_MSG_BOARD
      where BD_STE = 0
      and BD_GROUP = 4
      order by bd_num desc
      limit #{startList}, #{listSize};
   </select>  


      
   <!--  글 쓰기 -->
   <insert id="register" parameterType="BoardDTO">
      INSERT INTO TB_MSG_BOARD(m_ename, m_id, bd_num, bd_tl, bd_con, bd_dt, bd_ref, bd_recomm, bd_ste, bd_group)
        VALUES(#{m_ename}, #{m_id}, #{bd_num}, #{bd_tl},#{bd_con}, curdate(),0,0,0, #{bd_group})
   </insert>
   
   
   
   <!--  글 읽기 -->
   <select id="detail" parameterType="java.lang.Integer" resultType="BoardDTO">
      select * 
      from TB_MSG_BOARD
      where bd_num = #{bd_num}
   </select>

   <!--  조회수 증가 -->
   <update id="updateReadCnt" parameterType="java.lang.Integer">
      update TB_MSG_BOARD
         set bd_ref = bd_ref + 1
       where bd_num = #{bd_num}
   </update>
   
   <!--  글 수정 -->
   <update id="update" parameterType="BoardDTO">
      update TB_MSG_BOARD
         set bd_tl = #{bd_tl},
             bd_con = #{bd_con},
             bd_dt = curdate()
       where bd_num = #{bd_num}
   </update>
   
   <!--  글 삭제 del 컬럼을 작성하여 1로 변경 -->
   <update id="delete" parameterType="java.lang.Integer">
      UPDATE TB_MSG_BOARD SET bd_ste = 1
      WHERE bd_num = #{bd_num};
   </update>                      
   
   
   
   <!-- 댓글목록 조회(게시글번호에 해당하는 조회) -->
   <select id="detail1" parameterType="java.lang.Integer" resultType="BoardReply">
      SELECT comm_num, m_ename, comm_con, comm_dt, bd_num
        FROM tb_comments
       WHERE bd_num = #{bd_num}
     ORDER BY comm_num desc
   </select>
   
   <!-- 댓글 쓰기 -->
   <insert id="reply" parameterType="BoardReply">
      INSERT INTO tb_comments(m_id, m_ename, comm_con, comm_dt, bd_num)
          VALUES (#{m_id}, #{m_ename}, #{comm_con}, curdate(), #{bd_num})
   </insert>
   
   <!-- 해당 댓글 읽기  -->
   <select id="detailReply" parameterType="java.lang.Integer" resultType="BoardReply">
      SELECT comm_num, m_id, comm_con, comm_dt, bd_num
        FROM tb_comments
       WHERE comm_num = #{comm_num}
   </select>
   
   <!-- 댓글 수정 -->
   <update id="replyUpdate" parameterType="BoardReply">
      update tb_comments
         set comm_con = #{comm_con},
             comm_dt = curdate()
       where comm_num = #{comm_num} 
   </update>

   <!-- 댓글 삭제 -->
   <delete id="replyDelete" parameterType="BoardReply">
      DELETE FROM tb_comments 
       WHERE comm_num = #{comm_num} 
   </delete>

	<!-- ======================================================== 포인트 ======================================================== -->
   <!-- 포인트 -->
   <insert id="point" parameterType="pointDTO">
      INSERT INTO tb_point_list(p_cd, p_name, p_tel, p_date, p_condition, m_ename, p_info_yn, p_adv_yn, p_cd_name)
          VALUES (#{p_cd}, #{p_name}, #{p_tel}, curdate(), #{p_condition}, #{m_ename}, #{p_info_yn}, #{p_adv_yn}, #{p_cd_name})
   </insert>
   
   <!-- 포인트리스트 건수 조회 -->
   <select id="getPointCnt" resultType="java.lang.Integer">
      select count(*)
      from tb_point_list
      order by p_num desc
   </select>
  
   <!-- 포인트 리스트 -->
   <select id="point_list" parameterType="java.lang.Integer" resultType="PointDTO">
      select m.M_ENAME, p.P_NUM, p.P_CD, p.P_NAME, p.P_TEL, p.P_DATE, p.P_CONDITION, p.P_CD_NAME, p.P_INFO_YN, p.P_ADV_YN
      from TB_MSG_BOARD m join tb_point_list p on (m.M_ENAME = p.M_ENAME)
      order by p_num desc
      limit #{startList}, #{listSize};
   </select>



   <!-- 코드 -->
   <select id="codeList" parameterType="CodeDTO" resultType="CodeDTO">
      SELECT *
        FROM code
       WHERE CodeNm = #{CodeNm}
   </select>
   
   
   <!-- ======================================================== 마 이 페 이 지 ======================================================== -->
   
    <!-- 마이페이지 화면 조회 -->
   <select id="mySelect" parameterType="java.lang.String" resultType="jointempDTO">
   	select *
   	  from tb_membership
   	 where m_id = #{m_id};
   </select>
   
   <!-- 마이페이지 출석 포인트 -->
   <update id="ptUpdate" parameterType="jointempDTO">
      update TB_MEMBERSHIP
         set m_pt = #{m_pt} + 5,
         	 m_attd = #{m_attd} + 1
       where m_id = #{m_id};
   </update>

	   <!-- 마이페이지 - 회원정보 변경 -->
   <select id ="personal" parameterType="java.lang.String" resultType="jointempDTO">
      select * 
      from tb_membership
      where m_id = #{m_id}
   </select>
   
    <!-- 마이페이지 - 회원정보 수정 --> 
   <update id="perupdate" parameterType="jointempDTO" >
      update tb_membership
         set   m_pw = #{m_pw},
               m_ename = #{m_ename},
               m_email = #{m_email},
               m_tel = #{m_tel},
               m_adv_yn = #{m_adv_yn}
       where m_id = #{m_id}
       
   </update>



   <!-- 내 게시글-->
   <select id="list_my" parameterType="BoardDTO" resultType="BoardDTO">
      select *
      from TB_MSG_BOARD
      where m_id = #{m_id};
   </select>
   
   
   
      
</mapper>