<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	     <typeAlias alias="EmpVO" type="kr.co.dong.emp.EmpVO"/>
	     <typeAlias alias="BoardDTO" type="kr.co.dong.board.BoardDTO"/>
	     <typeAlias alias="BoardReply" type="kr.co.dong.board.BoardReply"/>
	     <typeAlias alias="CodeDTO" type="kr.co.dong.board.CodeDTO"/>
	      <typeAlias alias="jointempDTO" type="kr.co.dong.board.jointempDTO"/>
	      <typeAlias alias="paging" type="kr.co.dong.board.paging"/>
	     
	</typeAliases>
</configuration>